<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>countryCode</key>
	<string>US</string>
	<key>CurrencyCode</key>
	<string>USD</string>
	<key>merchantAccount</key>
	<string>1001076060</string>
	<key>merchantIdentifier</key>
	<string>merchant.com.optimalpayments.sbox.example01</string>
	<key>OptiMerchantID</key>
	<string>opus-sbox-single-use</string>
	<key>OptiMerchantPassword</key>
	<string>B-qa2-0-54ca7c5e-0-302c021443e7bfc8540afbc041df04fc81676b1f2da6792d02140b040c63a123b2136365df6f4cc560422bb0da32</string>
</dict>
</plist>
